<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test QA</title>
	<style>
		.scroll-h{
			display: flex !important;
			justify-content: center !important;
		}
	  </style>
</head>
<body>
    <div class="queestudiar"><iframe src="https://orientacion.queestudiar.la/embed/personality/627fa4f4-e07a-4520-bdab-0647fda47c98?key=wfag8y2&amp;fullname=dfby&amp;email=rnyght@gmail.com&amp;phone=987654321&amp;surname=beytnn&amp;career=Marketing&amp;grade=Estoy en 4to o 3ro de secundaria&amp;processId=48e96300-adeb-48fa-b1d3-a221fc451ae3" style="position: fixed; inset: 0px; width: 100%; height: 100%; border: none; margin: 0px; padding: 0px; overflow: hidden; z-index: 999999;"></iframe></div>
    <script type="text/javascript" src="https://d1ejfg5eng3rkd.cloudfront.net/cdnjs/v2/script-min.js"></script>
    <script type="text/javascript">
		const TEST = new Queestudiar()
		// Variable opcionales: En caso no venga de query parametros?reference=REFERENCE_ID&institution=INSTITUTION_ID&fullname=FULLNAME
		TEST.institution = "627fa4f4-e07a-4520-bdab-0647fda47c98";
		//TEST.reference = "";
		TEST.reference = "";
		TEST.email = "rnyght@gmail.com";
		TEST.fullname = "Carla";
		TEST.phone = "987654321";
		TEST.surname = "Sifuentes";
		TEST.school = "";
		TEST.career = "Marketing";
		TEST.grade = "Estoy en 4to o 3ro de secundaria";
		TEST.type = Queestudiar.PERSONALITY;
		// End Variables opcionales
		TEST.go()
	</script>
</body>
</html>